<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wbmonitor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="WB Discount Monitor"
        android:theme="@style/Theme.WBMonitor">

        <activity android:name=".AddProductActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
